<%= form_with(model: beater, local: true) do |form| %>
  <% if beater.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beater.errors.count, "error") %> prohibited this beater from being saved:</h2>

      <ul>
      <% beater.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :provider %>
    <%= form.select :provider, options_for_select(Beater.providers.keys) %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
