%p#notice= notice
%h1 Beaters
%table
  %thead
    %tr
      %th Name
      %th Provider
      %th Url
      %th{:colspan => "3"}
  %tbody
    - @beaters.each do |beater|
      %tr
        %td= beater.name
        %td= beater.provider
        %td= beater.url
        %td= beater.status
        %td= link_to 'Show', beater
        %td= link_to 'Edit', edit_beater_path(beater)
        %td= link_to 'Destroy', beater, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Beater', new_beater_path
