%p#notice= notice
%p
  %strong Name:
  = @beater.name
%p
  %strong Provider:
  = @beater.provider
%p
  %strong Url:
  = @beater.url
%p
  %strong User:
  = @beater.user.email
= link_to 'Edit', edit_beater_path(@beater)
|
= link_to 'Back', beaters_path
