<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beater.name %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @beater.provider %>
</p>

<p>
  <strong>Url:</strong>
  <%= @beater.url %>
</p>

<%= link_to 'Edit', edit_beater_path(@beater) %> |
<%= link_to 'Back', beaters_path %>
